__pycache__
*.pyc
*.log
*.zip
*.swp
.vscode
/.vs

# Virtual Environment Directories
/ENV
.venv

# Package Directories
*.egg-info

# Config files
config.yaml

# Firmware Blobs
*.bin

# Pylint Config
.pylintrc
